/** Add css rules here for your application. */


.gwt-NavItem-done
{
   text-decoration: none;
   color: #666;
   display: block;
   padding: 15px 5px;
   border-left: 8px solid #666;
   border-right: 1px solid #666;
   border-radius: 5px 0px 0px 5px;
   border-bottom: 1px solid #888;
}
.gwt-NavItem-active
{
   border-right: 2px solid #fff;
   background-color: #fff;
   border-left: 8px solid #f00;
   border-radius: 5px 0px 0px 5px;
   border-bottom: 1px solid #888;
   box-shadow: -5px 5px 5px #666;
   padding: 15px 5px;
   z-index: 10;
   position: sticky;
}
.gwt-NavItem-todo
{
   border-right: 1px solid #888;
   border-bottom: 1px solid #888;
   background-color: #ccf;
   border-left: 8px solid #006699;
   border-radius: 5px 0px 0px 5px;
   padding: 15px 5px;
}

.gwt-navContainer {
	border-top: 1px solid #888;
	border-radius: 5px 0px 0px 5px;
	margin: 15% 0% 15% 0%;
	vertical-align: middle;
	overflow-y: hidden;
}

.gwt-mainContainer {
		padding: 2%;
		background-color: #fff;
		border: 1px solid #888;
		border-left: none;
		border-radius: 5px;
		box-shadow: -5px 5px 5px #666;
		margin-right: 5%;
		margin-bottom: 10px;
		position: sticky;
		z-index: 6;
}

.gwt-DockPanel {
	background-color: #ddd;
	vertical-align: middle;
}

/** Most GWT widgets already have a style name defined */

.serverResponseLabelError {
  color: red;
}

@-ms-viewport{
  width: device-width;
}
