/** Add css rules here for your application. */

/* Margin: top, right, bottom, left */
/* Viewport: vw, vh, vmin, vmax */

.gwt-mainContainer {
	background-color: #fff;
	/*border: 1px solid #888; */
	border-radius: 2vmin;
	margin-right: 2%;
	margin-top: 10px;
	z-index: 5;
	box-shadow: 5px -5px 5px #666;
}

.gwt-mainItem {
	padding: 0px 2% 2% 2%;
	overflow: hidden;
}

.gwt-navContainer {
	border-radius: 5px 0px 0px 5px;
	margin: 20% 0% 15% 0%;
	vertical-align: middle;
	overflow-x: hidden;
}

.gwt-NavItem {
	font-size: 3vmin;
	color: #666;
	text-decoration: none;
	display: block;
	margin-left: 5px;
	border-right: 1px solid #666;
	border-radius: 1vmin 0px 0px 1vmin;
	border-bottom: 1px solid #888;
	padding: 1% 1%;
	overflow-x: hidden;
	overflow-y: hidden;
}

.gwt-NavItem-first {
	border-radius: 1vmin 0px 0px 1vmin;
	border-top: 1px solid #888;
	box-shadow: 3px -3px 3px #666;
}

.gwt-NavItem-done {
   border-left: 8px solid #666;
}

.gwt-NavItem-active {
   left: +2px;
   border-right: 2px solid #fff;
   background-color: #fff;
   border-left: 8px solid #f00;
   box-shadow: 5px -5px 5px #666;
   z-index: 100;
   position: sticky;
}

.gwt-NavItem-todo
{
   background-color: #ccf;
   border-left: 8px solid #006699;
}

.gwt-DockPanel {
	background-color: #ddd;
	vertical-align: middle;
}

/** Most GWT widgets already have a style name defined */

.serverResponseLabelError {
  color: red;
}

@-ms-viewport{
  width: device-width;
}

/** Use viewport width and height to define font size **/

h1 {
	font-size: 8vmin;
}
h2 {
	font-size: 6vmin;
}
p, ul, ol {
	font-size: 5vmin;
}
